# Environnement virtuel
.venv/

# Logs et fichiers temporaires
logs/
*.log

# Données générées par le pipeline
data/processed/
model/

# Fichiers système / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Caches Python
__pycache__/
*.py[cod]

# Fichiers lock
*.lock
